@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-body {
  background-color: #f8fdf0;
}

.layout-body {
  background-color: #f8fdf0;
}

.footer-bg-color {
  background-color: #7bb44d;
}

body {
  font-family: 'Raleway', sans-serif;
}
